html 
    head 
        title #{pageTitle} | 모두의민턴
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")

    body 
        include partials/header 
        main 
            block contents 
