extends base

block contents 
    if loggedIn 
        ul
            each club in loggedInUser.clubs 
                li= club


    hr
    div 
        span Do tou want create new Club? 
        a(href="/clubs/join") Create one now &rarr;