extends base

block contents 
    h1 루이뷔콕 경기장 
    br
    ul
        li 1st game 모정건 방정현 이용대 유연성
        li 2nd game 박주봉 김기정 김사랑 공희용
        li 3rd game 허광희 최솔규 신승찬 서승재
        li 4th game 이유림 이소율 안세영 방수현
        li 5th game 참가선수를 추가하세요
        li 6th game 참가선수를 추가하세요


    hr
    h1 참가선수
    ul
        li 모정건
        li 방정현 
        li 이용대 
        li 유연성 
        li 박주봉 
        li 김기정 
        li 김사랑 
        li 공희용
        li 허광희 
        li 최솔규 
        li 신승찬 
        li 서승재
        li 이유림 
        li 이소율 
        li 안세영 
        li 방수현
        li 김소영
        li 백하나
        li 이동근
        li 성지연
    
    hr
    h1 경기결과
    ul 
        li 모정건 방정현 이용대 유연성 
        li 박주봉 김기정 김사랑 공희용
        li 허광희 최솔규 신승찬 서승재
        li 이유림 이소율 안세영 방수현