extends base

block contents 
    h1 #{playClub.clubKoreanName} 경기장 
    br
    ul
        each people in upcommingGames
            li= people.name

    hr
    h1 참가선수
    ul
        each player in enteredPlayer
            li 
                form(action="/clubs/addPlayer", method="post") 
                    button(type="submit", name="addPlayer", value=player) #{player.name}

    form(method="post")
        input(type="text",placeholder="추가할 선수를 입력하세요", name="addPlayerName")
        input(type="submit")
    hr
    h1 경기결과
    ul 
        li 모정건 방정현 이용대 유연성 
        li 박주봉 김기정 김사랑 공희용
        li 허광희 최솔규 신승찬 서승재
        li 이유림 이소율 안세영 방수현