nav 
    ul 
         
        li  
            a(href="/") Home
        if loggedIn
            li
                a(href="/users/logout") Log Out 
            li
                a(href="/users/edit") #{loggedInUser.name} 의 프로필
            li 
                a(href="/clubs/") 클럽관리
        else 
            li  
                a(href="/users/login") Login
            li
                a(href="/users/join") Join